.contanerlogin{
    position: relative;
text-align: center;
width: 100%;
height: 59vh;
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
}
.contanerlogin .box{
    position: relative;
    width: 70%;
}
.contanerlogin .box input{
    width: 100%;
    margin-bottom: 3px;
}
.contanerlogin .box input[type=submit]{
    font-size: x-large;
font-weight: bold;
color:
cadetblue;
}
.contanerlogin .box i{
    position: absolute;
right: 20px;
font-size: xx-large;
font-weight: bold;
cursor: pointer;
}