.fotter{
    background-color:
cadetblue;
}
.fotter .contaner{
    display: flex;
    width: 90%;
    text-align: start;
    justify-content: center;
    margin: auto;
}
.fotter .contaner .contact{
  width: 50%;
color:
white;
margin: 5px;
}
.fotter .contaner .about{
    width: 50%;
    text-align: center;
    color:
    white;
    margin: 5px;
}
.fotter .contaner h1{
      font-size: large;
      font-weight: bold;
      border-bottom: solid 4px aliceblue;
width: fit-content;
  }
  